/* style for index page */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(232, 205, 165);
}

.container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: rgb(162, 137, 111);
}

ul,
ol {
  text-align: left;
}

li {
  font-size: 18px;
  margin: 5px auto;
}

h1 {
  font-size: 36px;
}

.list {
  border: 2px black solid;
  width: fit-content;
  height: auto;
  padding: 0 20px;
  display: inline-block;
  background-color: white;
}
